# Starting point for autometic preseed installs
#
# Copyright (c) 2005-2006 Hands.com Ltd
# Copyright © 2012-2016 Daniel Dehennin <daniel.dehennin@baby-gnu.org>
# distributed under the terms of the GNU GPL version 2 or (at your option) any later version
# see the file "COPYING" for details
#

# This first command is run as early as possible, just after
# preseeding is read.
d-i preseed/early_command		string preseed_fetch /classes/early_script /tmp/early_script; log-output -t early_script sh /tmp/early_script

# and this gets run just before the /target is unmounted
d-i	preseed/late_command		string preseed_fetch /classes/late_script /tmp/late_script ; log-output -t late_script sh /tmp/late_script

# This script does much of the work for setting up Hands-Off
d-i	preseed/run	string start.sh
