# Starting point for autometic preseed installs
#
# Copyright (c) 2008 Hands.com Ltd
# distributed under the terms of the GNU GPL version 2 or (at your option) any later version
# see the file "COPYING" for details
#

d-i	preseed/run	string checksigs.sh
d-i	preseed/run/checksum	string 9ae937cd0019a8e6e86c0856f3b633d0


